{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="card border-info mb-2" style="max-width: 80rem;">
        <div class="card-header bg-success text-white">இறை வார்த்தை: மத்தேயு 9: 1-8</div>
        <div class="card-body">

            <p class="card-text">
            <p>அக்காலத்தில், இயேசு படகேறி மறு கரைக்குச் சென்று தம் சொந்த நகரை அடைந்தார். அப்பொழுது சிலர் முடக்குவாதமுற்ற
                ஒருவரைக் கட்டிலில் கிடத்தி அவரிடம் கொண்டு வந்தனர். இயேசு அவர்களுடைய நம்பிக்கையைக் கண்டு
                முடக்குவாதமுற்றவரிடம், "மகனே, துணிவோடிரு, உம் பாவங்கள் மன்னிக்கப்பட்டன" என்றார்.
            </p>
            <p>
                அப்பொழுது மறைநூல் அறிஞர்கள் சிலர், "இவன் கடவுளைப் பழிக்கிறான்" என்று தமக்குள் சொல்லிக் கொண்டனர்.
                அவர்களுடைய சிந்தனைகளை இயேசு அறிந்து அவர்களை நோக்கி, "உங்கள் உள்ளங்களில் நீங்கள் தீயன சிந்திப்பதேன்? 'உன்
                பாவங்கள் மன்னிக்கப்பட்டன' என்பதா, 'எழுந்து நட' என்பதா, எது எளிது? மண்ணுலகில் பாவங்களை மன்னிக்க மானிட
                மகனுக்கு அதிகாரம் உண்டு என்பதை நீங்கள் அறிந்துகொள்ள வேண்டும்" என்றார். எனவே அவர் முடக்குவாதமுற்றவரை
                நோக்கி, "நீ எழுந்து உன்னுடைய கட்டிலைத் தூக்கிக்கொண்டு வீட்டுக்குப் போ" என்றார். அவரும் எழுந்து தமது
                வீட்டுக்குப் போனார்.</p>

            <p>இதைக் கண்ட மக்கள் கூட்டத்தினர் அச்சமுற்றனர். இத்தகைய அதிகாரத்தை மனிதருக்கு அளித்த கடவுளைப் போற்றிப்
                புகழ்ந்தனர்.</p>
            </p>
        </div>
    </div>
</main>
{% endblock %}